    <!-- <div class="map-container">
        <div class="map-frame"> -->
            <div id="map" style="z-index: 1;"></div>
            <!-- <button mat-icon-button aria-label="Active" class="button-indicator" *ngIf="signal">
                <mat-icon class="material-icons color_green">signal_wifi_4_bar</mat-icon>
            </button>
            <button mat-icon-button aria-label="InActive" class="button-indicator" *ngIf="!signal"
                (click)="requestPermission()">
                <mat-icon class="material-icons color_red">signal_wifi_off</mat-icon>
            </button> -->
        <!-- </div>
    </div> -->