<app-loading-screen [ngClass]="{ 'visible': (loading$ | async) }"></app-loading-screen>
<div fxFlexFill fxLayout="column">
  <!-- TOP   -->
  <div fxFlex="64px" fxLayout="row" fxLayoutAlign="center stretch">
    
    <!-- TOP LEFT -->
    <div fxFlex="40px" fxFlex.gt-sm="250px" fxLayoutAlign="center stretch">
      <span fxFlex="auto" fxLayoutAlign="center center" class="box-dark">
        <img class="rotate" fxFlex="50px" src="../../assets/images/logo/iconWhite.png">
        <img fxHide fxShow.gt-sm fxFlex="170px" src="../../assets/images/logo/nameWhite.png">
      </span>
    </div>

    <!-- TOP RIGHT -->
    <div fxFlex="auto">
      <span fxFlex="auto" fxLayout="row" fxLayoutAlign="center center" class="box-dark">
        <span fxHide fxShow.gt-sm>{{getMenuLabel()}}</span>
        <div fxFlex fxLayoutAlign="end center">
          <div
            [ngClass]="menuTopRightItem.value !== pageSelected ? 'mad-button fade' : 'mad-button-selected fade-selected'"
            *ngFor="let menuTopRightItem of menuTopRightItems" fxFlex="100px" fxLayout="column"
            fxLayoutAlign="center center" (click)="selectPage(menuTopRightItem.value)"
            [style.box-shadow]="'unset!important'">
            <div [fxFlexOrder]="menuTopRightItem.value !== pageSelected ? 2 : 4">
              <mat-icon>{{menuTopRightItem.icon}}</mat-icon>
            </div>
            <div [fxFlexOrder]="menuTopRightItem.value !== pageSelected ? 4 : 2">
              {{menuTopRightItem.label}}</div>
          </div>
          <!-- <ngx-auth-firebaseui-avatar [links]="links"></ngx-auth-firebaseui-avatar> -->
          <button mat-icon-button (click)="initAuth()" class="avatar-menu">
            <img *ngIf="user" class="avatar-menu" [src]="user.photoURL || 'assets/images/user.png'">
            <img *ngIf="!user" class="avatar-menu" [src]="'assets/images/user.png'">
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="!user" mat-menu-item (click)="initAuth()">
              <mat-icon>login</mat-icon>
              Sign in
            </button>
            <button *ngIf="user" mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              Sign out
            </button>
            <button *ngIf="user" mat-menu-item routerLink="/profile">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
          </mat-menu>
        </div>
      </span>
    </div>
  </div>

  <!-- MIDDLE -->
  <div fxFlex fxLayout="row">
    <div fxFlex="auto" fxLayout="column">
      <span fxFlex fxLayout="column" class="box-light">

        <!-- TOP MENU -->
        <div fxFlex="50px" fxLayoutAlign="space-between stretch" fxLayout="row" class="page-inner-top"
          *ngIf="getSubMenu().length > 0">
          <div [ngClass]="subMenuItem.value !== menuSelected ? 'mad-menu-button' : 'mad-menu-button-selected'"
            *ngFor="let subMenuItem of getSubMenu()" fxLayout="column" fxLayoutAlign="center center"
            (click)="selectMenu(subMenuItem.value)" fxFlex>
            <div [fxFlexOrder]="subMenuItem.value !== menuSelected ? 2 : 4" class="color-white">
              <mat-icon>{{subMenuItem.icon}}</mat-icon>
            </div>
            <div [fxFlexOrder]="subMenuItem.value !== menuSelected ? 4 : 2" class="color-white">
              {{subMenuItem.label}}</div>
          </div>
        </div>

        <!-- BODY -->
        <div fxFlex fxLayout="column" class="router-container">
          <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" fxShow fxHide.gt-sm>
            <advert fxFlex [side]="false"></advert>
          </div>
        </div>
      </span>

      <!-- BOTTOM MENU -->
      <div fxFlex="64px" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxFlex [ngClass]="menuInnerItem.value !== pageSelected ? 'mad-button' : 'mad-button-selected'"
          *ngFor="let menuInnerItem of menuInnerItems" fxLayout="column" fxLayoutAlign="center center"
          (click)="selectPage(menuInnerItem.value)" fxFlex>
          <div [fxFlexOrder]="menuInnerItem.value !== pageSelected ? 2 : 4" class="color-white">
            <mat-icon>{{menuInnerItem.icon}}</mat-icon>
          </div>
          <div [fxFlexOrder]="menuInnerItem.value !== pageSelected ? 4 : 2" class="color-white">
            {{menuInnerItem.label}}</div>
        </div>
      </div>
    </div>

    <!-- RIGHT PANEL -->
    <span fxFlex="240px" fxLayout="column" fxLayoutAlign="center stretch" fxHide fxShow.gt-sm class="box-light"
      style="height: calc(100vh - 90px)!important;min-height: calc(100vh - 90px)!important;max-height: calc(100vh - 90px)!important;overflow-y: auto!important;">
      <advert [side]="true"></advert>
    </span>
  </div>
</div>