@import '~@angular/material/theming';

$loadgistix-primary-palette: (
    50 : #ecf6fb,
    100 : #cee8f5,
    200 : #aed8ef,
    300 : #8ec8e8,
    400 : #75bde3,
    500 : #5db1de,
    600 : #55aada,
    700 : #4ba1d5,
    800 : #4198d1,
    900 : #3088c8,
    A100 : #ffffff,
    A200 : #daeeff,
    A400 : #a7d8ff,
    A700 : #8dccff,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    )
);

$loadgistix-accent-palette: (
    50 : #e4e5e7,
    100 : #bcbfc4,
    200 : #8f949d,
    300 : #626976,
    400 : #404958,
    500 : #1e293b,
    600 : #1a2435,
    700 : #161f2d,
    800 : #121926,
    900 : #0a0f19,
    A100 : #5a8cff,
    A200 : #2768ff,
    A400 : #0049f3,
    A700 : #0041da,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    )
);

$loadgistix-warn-palette: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #e06666,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (50: rgba(black, 0.87),
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$loadgistix-theme: mat-light-theme($loadgistix-primary-palette, $loadgistix-accent-palette, $loadgistix-warn-palette);

@include angular-material-theme($loadgistix-theme);